:root {
  --white-default: #DDDDDD;
  --black-default: #212020;

  --gray-1: #626262;

  --primary-color: #58cc94;
  --secondary-color: #3c5069;

  --primary-bg-color: #41b883;
  --secondary-bg-color: #35495E;
}